<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${day.dayOfWeek.label + ' ' + day.dayDate}"></title>
    <th:block th:insert="~{fragments/header-fragment}"></th:block>
</head>
<body>
<h1><span th:text="${day.dayOfWeek.label + ' - ' + day.dayDate}"></span></h1>
<div th:if="${tasks.size() > 0}" style="width: 600px;">
    <p style="text-align: center">Задачи на этот день:</p>
    <table class="ui celled table" style="width: 100%;">
        <thead>
        <tr>
            <th>Время</th>
            <th>Описание</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.taskTime}">James</td>
            <td th:text="${task.description}">24</td>
        </tr>
        </tbody>
    </table>
</div>
<p th:if="${tasks.size() == 0}">Задачи на этот день отсутствуют</p>
<p style="margin-top: 1em;">Добавить новую задачу:</p>
<form method="post" th:object="${task}" th:action="@{/postTask}">
    <div style="display: flex; flex-direction: column; margin-bottom: .5em">
        <label>
            Название задачи
        </label>
        <div class="ui input">
            <input type="text" placeholder="Название задачи" th:field="*{description}">
        </div>
        <div th:if="${#fields.hasErrors('description')}" class="ui pointing red basic label" style="width: 100%;">
            <ul style="padding-left: 1em;">
                <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
            </ul>
        </div>
    </div>
    <div style="margin-bottom: 1em">
        <label>
            Время
        </label>
        <input type="time" th:field="*{taskTime}" class="time-input">
        <div th:if="${#fields.hasErrors('taskTime')}" class="ui pointing red basic label" style="width: 100%">
            <ul style="padding-left: 1em;">
                <li th:each="err : ${#fields.errors('taskTime')}" th:text="${err}"></li>
            </ul>
        </div>
    </div>
    <input type="hidden" name="dayDate" th:value="${day.dayDate}">
    <button type="submit" class="positive ui button">Добавить</button>
</form>
<a th:href="@{/(date=${day.dayDate})}">Назад</a>
<th:block th:insert="~{fragments/footer-fragment}"></th:block>
</body>
</html>