<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>День - <span th:text="${#request.getParameter('date')}"></span></title>
    <th:block th:insert="~{fragments/header-fragment}"></th:block>
</head>
<body>
<h1><span th:text="${dayOfWeek.label + ' - ' + #request.getParameter('date')}"></span></h1>
<div th:if="${tasks.size() > 0}" style="width: 600px;">
    <p style="text-align: center">Задачи на этот день:</p>
    <table class="ui celled table" style="width: 100%;">
        <thead>
        <tr>
            <th>Время</th>
            <th>Описание</th>
            <th>Выполнено</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.taskTime}">James</td>
            <td th:text="${task.taskDescription}">24</td>
            <td>Не выполнено</td>
            <td>Галочка</td>
        </tr>
        </tbody>
    </table>
</div>
<p th:if="${tasks.size() == 0}">Задачи на этот день отсутствуют</p>
<p style="margin-top: 1em;">Добавить новую задачу:</p>
<form method="post" th:object="${task}" th:action="@{/postTask}">
    <div style="display: flex; flex-direction: column; margin-bottom: .5em">
        <label>
            Название задачи
        </label>
        <div class="ui input">
            <input type="text" placeholder="Название задачи" th:field="*{taskDescription}">
        </div>
    </div>
    <div style="margin-bottom: 1em">
        <label>
            Время
        </label><input type="time" th:field="*{taskTime}" required>
    </div>
    <input type="hidden" th:value="${#request.getParameter('date')}" name="dayDate">
    <button type="submit" class="positive ui button">Добавить</button>
</form>
<a th:href="@{/(date=${#request.getParameter('date')})}">Назад</a>
<th:block th:insert="~{fragments/footer-fragment}"></th:block>
</body>
</html>