<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task manager</title>
    <link th:href="@{/style/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<h1 th:text="${month.name}"></h1>

<!--<div>
    <ul class="calendar">
        <li class="test">
            <p class="title">пн</p>
            <div class="test-inner">
                <p th:each="day : ${month.days}" th:if="${day.dayOfWeek.name == 'MONDAY'}"
                   th:text="${day.dayIndex}"></p>
            </div>
        </li>
        <li class="test">
            <p class="title">вт</p>
            <div class="test-inner">
                <p th:each="day : ${month.days}" th:if="${day.dayOfWeek.name == 'TUESDAY'}"
                   th:text="${day.dayIndex}"></p>
            </div>
        </li>
        <li class="test">
            <p class="title">ср</p>
            <div class="test-inner">
                <p th:each="day : ${month.days}" th:if="${day.dayOfWeek.name == 'WEDNESDAY'}"
                   th:text="${day.dayIndex}"></p>
            </div>
        </li>
        <li class="test">
            <p class="title">чт</p>
            <div class="test-inner">
                <p th:each="day : ${month.days}" th:if="${day.dayOfWeek.name == 'THURSDAY'}"
                   th:text="${day.dayIndex}"></p>
            </div>
        </li>
        <li class="test">
            <p class="title">пт</p>
            <div class="test-inner">
                <p th:each="day : ${month.days}" th:if="${day.dayOfWeek.name == 'FRIDAY'}"
                   th:text="${day.dayIndex}"></p>
            </div>
        </li>
        <li class="test">
            <p class="title">сб</p>
            <div class="test-inner">
                <p th:each="day : ${month.days}" th:if="${day.dayOfWeek.name == 'SATURDAY'}"
                   th:text="${day.dayIndex}"></p>
            </div>
        </li>
        <li class="test">
            <p class="title">вс</p>
            <div class="test-inner">
                <p th:each="day : ${month.days}" th:if="${day.dayOfWeek.name == 'SUNDAY'}"
                   th:text="${day.dayIndex}"></p>
            </div>
        </li>
    </ul>
</div>-->
<div class="calendar">
    <ul class="calendar-inner">
        <li>пн</li>
        <li>вт</li>
        <li>ср</li>
        <li>чт</li>
        <li>пт</li>
        <li>сб</li>
        <li>вс</li>
    </ul>
    <ul class="calendar-inner">
        <li th:each="day : ${month.days}" th:text="${day.dayIndex}"></li>
    </ul>
</div>
<!--<div>
    <table>
        <thead>
        <tr>
            <th>пн</th>
            <th>вт</th>
            <th>ср</th>
            <th>чт</th>
            <th>пт</th>
            <th>сб</th>
            <th>вс</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:each="day : ${month.days}" th:text="${day.dayIndex}"></td>
        </tr>
        </tbody>
    </table>
</div>-->
<a th:href="@{/(date=${month.prevMonth})}"><</a>
<a th:href="@{/(date=${month.nextMonth})}">></a>

</body>
</html>