<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task manager</title>
    <link th:href="@{/style/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<h1 th:text="${month.name}"></h1>

<div class="calendar">
    <ul class="calendar-inner">
        <li>пн</li>
        <li>вт</li>
        <li>ср</li>
        <li>чт</li>
        <li>пт</li>
        <li>сб</li>
        <li>вс</li>
    </ul>
    <ul class="calendar-inner">
        <li th:each="day : ${month.days}" th:text="${day.dayIndex}"></li>
    </ul>
</div>
<a th:href="@{/(date=${month.prevMonth})}"><</a>
<a th:href="@{/(date=${month.nextMonth})}">></a>

</body>
</html>