* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
}

.calendar {
    max-width: 350px;
}

.calendar-inner {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.calendar-inner li {
    min-width: 50px;
}