* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.calendar {
    max-width: 840px;
    min-height: 700px;
}

.calendar-inner {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.calendar-inner li {
    padding: .5em;
    min-width: 120px;
    min-height: 100px;
    border: 1px solid black;
}

.calendar-inner:last-child li {
    cursor: pointer;
    transition: .2s;
}

.calendar-inner:last-child li:hover {
    background-color: lightgray;
}

main .ui.buttons {
    width: 100%;
}

.weekend {
    color: red;
}

.day-index {
    font-size: 1.125rem;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

form input {
    width: 100%;
}

.time-input {
    background: #fff;
    box-shadow: none;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    text-align: left;
    line-height: 1.21428571em;
    padding: .67857143em 1em;
}